<div class="container">
  <div class="block hero is-warning">
    <div class="hero-body">
      <p class="title is-2">Quackers</p>
      <p class="subtitle">Edit Quack</p>
    </div>
  </div>

  <%= render 'form' %>

</div>