<div class="container">
  <div class="block">
    <%= render 'header' %>
  </div> 

  <div class="block">
    <p class="subtitle is-4">Edit Quack</p>
  </div>  
  
  <div class="block">
    <%= render 'form' %>
  </div>
  
  <div class="block">
  <%= render 'footer' %>
  </div>
</div>