<div class="hero is-info is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="nav-brand">
        <div class="nav-item">
          <%= image_tag 'Quackers.png', class: "image is-128x128"%>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1">
        Welcome to Quackers
      </p>
      <p class="subtitle is-3">
        Quack Out Your Thoughts
      </p>
      <p class="button is-info is-inverted is-rounded">
        <%= link_to 'View All My Quacks', blogs_path %>
      </p>
    </div>
  </div>
</div>
