<div class="container">
  <div class="block"></div> 

  <div class="block">
    <p class="subtitle is-4">New Quack</p>
  </div>  
  
  <div class="block">
    <%= render 'form' %>
  </div>
  
  <div class="block"></div>
</div>

