@import "bulma";
/* = require blogs */

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.is-horizontal-center {
  justify-content: center;
}

.is-vertical-center {
  align-items: center;
}
